name: Awspec

on:
  push:
    branches:
      - develop
      - release
      - master

jobs:
  build:
    name: RSpec
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Ruby 2.5
      uses: actions/setup-ruby@v1
      with:
        ruby-version: '2.5'

    - name: Kitchen
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      run: |
        sudo apt-get -yqq install curl
        curl https://releases.hashicorp.com/terraform/0.12.29/terraform_0.12.29_linux_amd64.zip -o terraform_0.12.29_linux_amd64.zip
        unzip terraform_0.12.29_linux_amd64.zip && chmod +x terraform && sudo mv terraform /usr/bin/
        gem install bundler
        bundle install --jobs 4 --retry 3
        bundle exec kitchen test

    - name: release
      if: github.ref == 'refs/heads/develop'
      env:
        GIT_USER: ${{ secrets.GIT_USER }}
        GIT_PASS: ${{ secrets.GIT_PASS }}
      run: |
        NUM=$(curl -u ${GIT_USER}:${GIT_PASS} -H "Content-Type:application/json" -X POST https://api.github.com/repos/punkerside/terraform-aws-vpc/pulls -d '{"title": "release", "head": "develop", "base": "release"}' | jq .number)
        curl -u ${GIT_USER}:${GIT_PASS} -H "Accept: application/vnd.github.v3+json" -X PUT https://api.github.com/repos/punkerside/terraform-aws-vpc/pulls/${NUM}/merge -d '{"commit_title":"release", "merge_method": "merge"}'

    - name: publish
      if: github.ref == 'refs/heads/release'
      env:
        GIT_USER: ${{ secrets.GIT_USER }}
        GIT_PASS: ${{ secrets.GIT_PASS }}
      run: |
        NUM=$(curl -u ${GIT_USER}:${GIT_PASS} -H "Content-Type:application/json" -X POST https://api.github.com/repos/punkerside/terraform-aws-vpc/pulls -d '{"title": "publish", "head": "release", "base": "master"}' | jq .number)
        curl -u ${GIT_USER}:${GIT_PASS} -H "Accept: application/vnd.github.v3+json" -X PUT https://api.github.com/repos/punkerside/terraform-aws-vpc/pulls/${NUM}/merge -d '{"commit_title" : "publish", "merge_method": "merge"}'